<div class="row" *ngIf="fetched">
    <div class="col-md-12" *ngIf="selectedLanguage != null">
        <p class="wandbox-current-compiler-language label label-success">{{selectedLanguage.languageName}}</p>
        <div class="dropdown wandbox-compiler">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-language" data-toggle="dropdown" aria-expanded="true">
                <span class="wandbox-current-compiler-text">{{selectedCompiler.displayName}} {{selectedCompiler.version}}</span>
                <span class="wandbox-current-compiler-caret caret"></span>
            </button>
            <div class="dropdown-menu wandbox-dropdown-area" role="menu" aria-labelledby="dropdown-language">
                <div class="wandbox-dropdown-version"></div>
                <div class="wandbox-dropdown-detail-area">
                    <div class="tab-content">
                        <div class="tab-pane-">
                            <legend>{{selectedLanguage.languageName}}</legend>
                            <ul>
                                <li *ngFor="let compiler of selectedLanguage.compilers;let i=index;">
                                    <a class="wandbox-dropdown-listitem" [class.selected]="selectedLanguage.selectedCompilerIndex === i" (click)="clickCompiler(i)">
                                        {{compiler.displayName}} {{compiler.version}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="wandbox-dropdown-lang-area">
                    <legend>Languages</legend>
                    <ul>
                        <li *ngFor="let language of languages; let i=index;">
                            <a class="wandbox-dropdown-language-item" [class.selected]="selectedLangIndex === i" (click)="clickLanguage(i, $event)">{{language.languageName}}</a>
                            <span class="wandbox-badge">{{language.compilers.length}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="fetched" class="row">
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane-">
                <p class="wandbox-insert-template">
                    <a (click)="clickLoadTemplate(selectedCompiler.template)">Load template</a>
                </p>
                <div class="option-raw runtime-option-raw">
                    <div class="form-group" *ngFor="let option of selectedCompiler.options; let i=index;">
                        <ng-container *ngIf="option.type === 'checkbox'">
                            <label (change)="changeOption(i, option)">
                                <input type="checkbox" [(ngModel)]="option.item.checked" [attr.checked]="option.item.checked || null" /> {{option.item.name}}
                            </label>
                        </ng-container>
                        <ng-container *ngIf="option.type === 'select'">
                            <select class="col-md-12 wandbox-select-flags form-control" [(ngModel)]="option.item.value" (change)="changeOption(i, option)">
                                <option *ngFor="let name of option.item.names; let i=index;" value="{{option.item.values[i]}}">{{name}}</option>
                            </select>
                        </ng-container>
                        <ng-container *ngIf="option.type === 'runtime' || option.type === 'compile'">
                            <p class="raw-flags">{{option.item.name}}:</p>
                            <textarea class="form-control" (keyup)="changeOption(i, option)" [(ngModel)]="option.item.value" rows="{{option.item.value.split('\n').length + 1}}"></textarea>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!fetched" class="row">
    <div class="col-md-12">
        <ng-container *ngIf="errorMessage.length === 0">
            <!-- TODO: なんかアイコン入れる -->
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-language" data-toggle="dropdown" aria-expanded="true">
                <span class="wandbox-current-compiler-text">Loading...</span>
                <span class="wandbox-current-compiler-caret caret"></span>
            </button>
        </ng-container>
        <ng-container *ngIf="errorMessage.length !== 0">
            <span class="wandbox-current-compiler-text">
                <span class="alert alert-danger">{{errorMessage}}</span>
            </span>
        </ng-container>
    </div>
</div>
