.option-raw.runtime-option-raw .checkbox>textarea {
    resize: none;
}

li>a.wandbox-dropdown-listitem.selected,
li>a.wandbox-dropdown-language-item.selected {
    font-weight: bolder;
    text-decoration: underline;
}

.radio label,
.checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

label.raw-flags {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}