.wandbox-insert-template {
    width: 180px;
}

li>a.wandbox-dropdown-listitem.selected,
li>a.wandbox-dropdown-language-item.selected {
    font-weight: bolder;
    text-decoration: underline;
}

.radio label,
.checkbox label {
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.form-group {
    margin-bottom: 0px;
}

.raw-flags {
    margin: 5px 5px;
    font-weight: bolder;
    display: inline-block;
}

textarea.form-control {
    resize: none;
}