<div class="row">
    <div class="col-md-10">
        <editor-tab (compileCommand)="onCompileCommand()" (changed)="tabChanged($event)" [tabs]="model.tabs" [config]="model.config"
            [activeIndex]="model.activeTabIndex"></editor-tab>
    </div>
    <div class="col-md-2" id="wandbox-editor-settings">
        <label>Editor settings:</label>
        <div class="checkbox">
            <select class="form-control wandbox-select" [(ngModel)]="model.keyMap" (change)="changeConfig('keyMap', model.keyMap)">
                <option value="default" selected="">editor: default</option>
                <option value="vim">editor: Vim</option>
                <option value="emacs">editor: Emacs</option>
            </select>
        </div>
        <div class="checkbox">
            <select class="wandbox-spaces-or-tab form-control" [(ngModel)]="model.tabSize" (change)="changeConfig('tabSize', model.tabSize)">
                <option value="2">tab: 2-spaces</option>
                <option value="4" selected="">tab: 4-spaces</option>
                <option value="8">tab: 8-spaces</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input class="indent-with-tabs" type="checkbox" [(ngModel)]="model.indentWithTabs" (change)="changeConfig('indentWithTabs', model.indentWithTabs)"
                    checked=""> Indent with Tabs
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="smart-indent" type="checkbox" [(ngModel)]="model.smartIndent" (change)="changeConfig('smartIndent', model.smartIndent)"
                    checked=""> Smart Indent
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input class="expand-editor" type="checkbox" value="expand-editor" [(ngModel)]="model.expand"> Expand
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p id="compile_command">
            <code *ngIf="model.selectedLanguage != null && model.selectedLanguage.selectedCompiler != null">
                $ {{model.selectedLanguage.selectedCompiler.compileCommand}} {{model.selectedLanguage.selectedCompiler.displayFlags}}
            </code>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <div class="panel-group" role="tablist" id="wandbox-stdin-accordion" aria-multiselectable="true">
            <div class="panel panel-default">
                <a id="wandbox-stdin-button" data-toggle="collapse" data-parent="#wandbox-stdin-accordion" href="#wandbox-stdin-body" aria-expanded="true">
                    Stdin
                </a>
                <div id="wandbox-stdin-body" class="panel-collapse collapse">
                    <textarea class="form-control" [(ngModel)]="model.stdin"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<wandbox-compile [tabs]="model.tabs" [stdin]="model.stdin" [selectedLanguage]="model.selectedLanguage"></wandbox-compile>
