<div class="row">
    <div class="col-md-12" id="header">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#wandbox-navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="/">Wandbox</a>
            </div>
            <div class="collapse navbar-collapse" id="wandbox-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a target="_blank" href="https://github.com/melpon/wandbox">Source</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Plugin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://github.com/rhysd/wandbox-vim" target="_blank">for Vimmer</a>
                            </li>
                            <li>
                                <a href="https://github.com/kosh04/emacs-wandbox" target="_blank">for Emacser</a>
                            </li>
                            <li>
                                <a href="https://gist.github.com/kikairoya/7544234" target="_blank">for xyzzy-er</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Link <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/nojs">Wandbox Simple</a>
                            </li>
                            <li>
                                <a href="https://wandbox.fetus.jp/" target="_blank">Wandbox for PHP/Hack</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="https://github.com/login/oauth/authorize?client_id=f9d429d939d997e6b08e">Sign in</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>