<div class="row">
    <div class="col-md-12">
        <a (click)="!compiling && postCompile()" class="btn btn-default" id="wandbox-compile">
            <ng-container *ngIf="compiling">
                <img src="./assets/image/compiling.gif" alt="Compiling" class="btn btn-default" id="wandbox-compiling">
            </ng-container>
            <ng-container *ngIf="!compiling">
                Run (or Ctrl+Enter)
            </ng-container>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <compile-result-tab [activeIndex]="activeResultIndex" [results]="compileResults" (changeTab)="changeTab($event)" (removeTab)="removeTab($event)"></compile-result-tab>
    </div>
    <div class="col-md-2">
        <div id="result-container-settings">
            <div class="checkbox">
                <label>
                    <input class="nowrap-output-window" type="checkbox" value="nowrap-output-window">No Wrap
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input class="expand-output-window" type="checkbox" value="expand-output-window">Expand
                </label>
            </div>
        </div>
    </div>
</div>