<div class="row">
    <div class="col-md-12">
        <div class="  visible-md-block visible-lg-block">
            <div class="wandbox-sponsors">
                <div class="wandbox-corporate-sponsors">
                    <label>🐕 Corporate Sponsors:</label>
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.google.co.jp/search?q=%E7%8A%AC&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjf__jl0_TWAhUEE5QKHZQ6AxUQ_AUICigB&biw=1560&bih=931"
                                data-toggle="tooltip" data-placement="top" title="">イヌ</a>
                        </li>
                    </ul>
                </div>

                <div class="wandbox-personal-sponsors">
                    <label>🐶 Personal Sponsors:</label>
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.google.co.jp/search?q=%E7%8A%AC&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjf__jl0_TWAhUEE5QKHZQ6AxUQ_AUICigB&biw=1560&bih=931"
                                data-toggle="tooltip" data-placement="top" title="">イヌ</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="wandbox-about-sponsors">
                <a target="_blank" href="https://gist.github.com/melpon/8f5d7a8e991ed466d09cf887bd8d92ce">About sponsors(Japanese)</a>
            </div>
        </div>
    </div>
</div>
