<div class="container-fluid">
    <wandbox-header></wandbox-header>
    <div class="row">
        <div class="col-md-2 wandbox-menu-left">
            <wandbox-compiler></wandbox-compiler>
            <wandbox-sponsors></wandbox-sponsors>
        </div>
        <div class="col-md-10" id="codepanel">
            <div class="row">
                <div class="col-md-offset-8 col-md-4">
                    <div class="wandbox-author">
                    </div>
                </div>
            </div>
            <wandbox-editor></wandbox-editor>
            <div class="row">
                <div class="col-md-12">
                    <p id="compile_command"><code>$ ほげほげ～ｗ  </code></p>
                </div>
            </div>
            <wandbox-compile (compile)="onCompile()"></wandbox-compile>
        </div>
    </div>
</div>